.avansKonteyner {
  width: 100%;
  box-sizing: border-box; /*Taşma sorununu engellemek için*/
  padding: 0 26px; 
  text-align: left;
}

/*Üst Başlık */
.bolumBaslik {
  font-size: 13px;
  font-weight: 700;
  color: #94A3B8;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

/* Her Bir Avans Satırı */
.avansSatir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.solAlan {
  display: flex;
  align-items: center; /*ikonları metinlerin dikey ortasına çektik */
  gap: 12px;
}

.ikon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0; 
}

/* Dönem ve Başlık Grubu */
.metinGrup {
  display: flex;
  flex-direction: column;
}

.donemBaslik {
  font-size: 15px;
  font-weight: 600;
  color: #1E1B4B;
  margin-bottom: 2px;
}

.durumBaslik {
  font-size: 15px;
  font-weight: 600;
  color: #64748B;
}


.tutarYazi {
  font-size: 20px;
  font-weight: 700;
  color: #FBBF24;
}

.ayiriciCizgi {
  width: 100%;
  height: 1px;
  background-color: #E2E8F0;
  margin: 0 0 20px 0;
}